/* css/master/gfh_1207/app.css */
/*
.tooltip-inner {
  max-width: 500px;
  text-align: left;
}
*/
.dis_none {
  display:none;
}

.mt-20{
  margin-top:20px;
}

.mb-20{
  margin-bottom:20px;
}


.btn_style_up{
  font-size: 14px;
  padding: 4px;
}

.btn_style_dl{
  font-size: 14px;
  padding: 4px;
}

.vertical-radio-group .form-check-input,
.vertical-radio-group .form-check-label {
    margin-bottom: 5px; /* 間隔の調整 */
}